{% load home_tags cache compress static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load crispy_forms_tags %}
     <footer>                        
      <div class="row">
        <div class="col-md-3">
          <address class="footer_address">
            <a href="mailto:#">maildcos@gmail.com</a>
          </address>
        </div>
        <div class="col-md-6">
           <p class="copyright">&copy; 2016 SKYED. All rights reserved.</p>
          {% adverts %}
        </div>
        <div class="col-md-3">
          <ul class="footer_social" >
            <a href="#"><span class="fa-stack fa-md">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-md">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-md">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-md">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-md">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i></span>
            </a>
          </ul>
        </div>
       </div>    
      </footer>


