amqp==1.4.9
ansible==2.0.2.0
anyjson==0.3.3
backoff==1.1.0
beautifulsoup4==4.4.1
billiard==3.3.0.23
boto==2.40.0
boto3==1.3.1
botocore==1.4.15
celery==3.1.23
contextlib2==0.5.3
defusedxml==0.4.1
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.5
django-allauth==0.25.2
django-appconf==1.0.2
django-bootstrap3==7.0.1
django-bower==5.1.0
django-comments-xtd==1.5.3
django-compressor==2.0
django-contrib-comments==1.7.0
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-el-pagination==2.1.2
django-extensions==1.6.1
django-grappelli==2.8.1
django-hashers-passlib==0.3
-e git+https://github.com/City-of-Helsinki/django-helusers.git@94b0d3db73e76ba5387c7dc0db3c6315ccbbb079#egg=django_helusers-master
django-ipware==1.1.2
django-libsass==0.6
django-longerusernameandemail==0.5.7
django-medusa==0.3.0
django-modelcluster==1.1
django-overextends==0.4.1
django-redis==4.4.2
django-registration-redux==1.4
django-sendfile==0.3.10
django-storages-redux==1.3.2
django-taggit==0.18.1
django-toolbelt==0.0.1
django-treebeard==4.0
djangorestframework==3.3.3
docutils==0.12
ecdsa==0.13
elasticsearch==2.3.0
Fabric==1.11.1
google-api-python-client==1.5.0
gunicorn==19.4.5
holidays==0.4.1
html5lib==0.9999999
httplib2==0.9.2
Jinja2==2.8
jmespath==0.9.0
kombu==3.0.35
libsass==0.11.1
livereload==2.4.1
lxml==3.6.0
MarkupSafe==0.23
oauth2client==2.0.2
oauthlib==1.1.1
oc-wagtail-core==0.1
opbeat==3.3
ordereddict==1.1
paramiko==1.17.0
passlib==1.6.5
Pillow==3.2.0
puput==0.5.2
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycrypto==2.6.1
pytest==2.9.1
pytest-django==2.9.1
python-dateutil==2.5.3
python-kong==0.4.0
python-memcached==1.57
python3-openid==3.0.10
pytz==2016.4
PyYAML==3.11
raven==5.15.0
rcssmin==1.0.6
redis==2.10.5
requests==2.10.0
requests-oauthlib==0.6.1
rjsmin==1.0.12
rsa==3.4.2
s3utils==0.6.1
selenium==2.53.2
simplejson==3.8.2
six==1.10.0
sphinx-me==0.3
splinter==0.7.3
sqlparse==0.1.19
static3==0.6.1
tapioca-disqus==0.1.2
tapioca-wrapper==0.5.3
tornado==4.3
Unidecode==0.4.19
uritemplate==0.6
urllib3==1.15.1
uWSGI==2.0.12
wagalytics==0.5
wagtail==1.4.3
wagtail-blog==1.6.6
wagtailfontawesome==1.0.5
wagtailmodeladmin==2.5.7
wagtailplus==0.3.7
wagtailpolls==0.1.3
wagtailsettings==0.4.1
wagtailsurveys==0.1.0
wheel==0.24.0
whitenoise==3.0
Willow==0.3
